In [1]:
import pandas as pd

In [3]:
k = pd.DataFrame({'a' : [12,34,56], 'b' : [149,5345,34]})
k

    a     b
0  12   149
1  34  5345
2  56    34

In [7]:
pd.cut(k['a'], 3)

0    (11.956, 26.667]
1    (26.667, 41.333]
2      (41.333, 56.0]
Name: a, dtype: category
Categories (3, interval[float64]): [(11.956, 26.667] < (26.667, 41.333] < (41.333, 56.0]]